---
import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import SideProjects from "../components/SideProjects.astro";
import { SITE_TITLE } from "../config";
---

<PageLayout>
  <PageMeta title={`Projects | ${SITE_TITLE}`} slot="meta" />
  <section slot="main">
    <SideProjects />
  </section>
</PageLayout>
