---
import DarkModeToggle from "./DarkModeToggle.astro";
---

<footer class="text-sm leading-[1.75] mt-4">
  <DarkModeToggle />
  <div class="text-text-muted">
    &copy; {new Date().getFullYear()} gamz. All rights reserved.
  </div>
</footer>

<style>
  footer {
    grid-area: footer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.25rem;
  }

</style>
