---
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        gamz
      </span>
    </h1>

    <p class="text-2xl pb-4">A code hustler doesn't stop, I keep going.</p>
  </div>
  <div>
    <p class="mb-5">
      사람들이 좋아할 만한 무언가를 만들 때 행복한 개발자입니다.
      게임, 임베디드, 웹 서비스, 네이티브/하이브리드 앱, DevOps 등 다양한 도메인을 경험했습니다.
    </p>
    <p class="mb-5">
      새로운 것을 배우는 걸 즐기고 빠르게 따라갑니다.
      하지만 무엇보다 중요한 건 기술이나 도메인에 상관없이 당면한 문제를 해결하는 것입니다.
    </p>
  </div>
</section>
